.verticalLine {
    border-right: 0.3em solid #ddd;
    height: 8.5em;
}
.importeNegativo {
    color: red;
}
.importeCobrar {
    color: blue;
}
.saldoDisponible {
    color: green;
}
.selectComprobante {
    font-size: 21pt;
}
